{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>
        {{ car.brand }} {{ car.model }}
    </h2>
    <p>Price: {{ car.price }}$</p>
    <p>Is bought: {{ car.is_bought }}</p>
    {% if car.is_bought %}
       <p>Buy time: {{ car.buy_time }}</p>
       <p>This car has been bought by: {{ car.buyer_id }}</p>
    {% else %}
       <p>This car is available for purchase.</p>
    {% endif %}
    <hr>
    <button class="btn btn-delete"> <a href="{% url 'car_update' pk=car.pk %}">Update</a></button>
    <button class="btn btn-cancel"><a href="{% url 'car_delete' pk=car.pk %}">Delete</a></button>
</div>
{% endblock %}